<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Seleção de equipamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item button (click)="qrScanner()">
      <ion-icon name="qr-code-outline" class="ion-margin-end"></ion-icon>
      <ion-label class="ion-text-wrap">Escanear QR code do equipamento</ion-label>
    </ion-item>

    <ion-item button id="popoverButton" (click)='createPopover()'>
      <ion-icon name="list" class="ion-margin-end"></ion-icon>
      <ion-label class="ion-text-wrap">Abrir lista de equipamentos</ion-label>
    </ion-item>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-buttons class="ion-justify-content-center">
    <ion-button (click)="finalizar()">Finalizar Rota</ion-button>
  </ion-buttons>
</ion-footer>