<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rota do equipamento {{equipamento.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <ion-card-title class="ion-margin-bottom">Informações do equipamento:</ion-card-title>
    <ion-card-subtitle>Nome do equipamento: {{equipamento.nome}}</ion-card-subtitle>
    <ion-card-subtitle>Tag do equipamento: {{equipamento.tag}}</ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-list [ngClass]='{"preenchido": temperaturaObrigatorio}'>
      <ion-radio-group (ionChange)='changeInspecao("temperatura", $event.target.value)'>
        <ion-list-header>Temperatura</ion-list-header>

        <ion-item>
          <ion-label>Normal</ion-label>
          <ion-radio value="normal"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Anormal</ion-label>
          <ion-radio value="anormal"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <ion-textarea *ngIf="temperatura == 'anormal'" autoGrow=true [(ngModel)]="temperaturaObs"
      (input)="observacao('temperatura', $event.target.value)"></ion-textarea>
  </ion-card>

  <ion-card>
    <ion-list [ngClass]='{"preenchido": pressaoObrigatorio}'>
      <ion-radio-group (ionChange)='changeInspecao("pressao", $event.target.value)'>
        <ion-list-header>Pressão</ion-list-header>

        <ion-item>
          <ion-label>Normal</ion-label>
          <ion-radio value="normal"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Anormal</ion-label>
          <ion-radio value="anormal"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <ion-textarea *ngIf="pressao == 'anormal'" autoGrow=true [(ngModel)]="pressaoObs"
      (input)="observacao('pressao', $event.target.value)">
    </ion-textarea>

  </ion-card>

  <ion-card>
    <ion-list [ngClass]='{"preenchido": oleoObrigatorio}'>
      <ion-radio-group (ionChange)='changeInspecao("oleo", $event.target.value)'>
        <ion-list-header>Nível de óleo</ion-list-header>

        <ion-item>
          <ion-label>Normal</ion-label>
          <ion-radio value="normal"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Anormal</ion-label>
          <ion-radio value="anormal"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>

    <ion-textarea *ngIf="oleo == 'anormal'" autoGrow=true [(ngModel)]="oleoObs"
      (input)="observacao('oleo', $event.target.value)">
    </ion-textarea>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-buttons class="ion-justify-content-center ion-align-item-center">
    <ion-button (click)="finalizar()">
      <ion-icon name="arrow-back" class="ion-margin-end"></ion-icon>
      Voltar
    </ion-button>

    <ion-button (click)="finalizar(equipamento)"> Finalizar
      <ion-icon name="checkmark" class="ion-margin-start"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-footer>