//Ion-items

ion-footer{
  background: #428cff;
}

ion-list{
  background: #428C8C;
}

ion-list-header{
  --color: white;
  font-size: 1.25em;
}

ion-textarea{
  width: 96%;
  background: white;
  border-bottom: 1px solid black;
  margin: 0.5em;
}

ion-button{
  color: white;
}

//Class

.preenchido{
  background: #FF0046;
}

