<ion-header>
  <ion-toolbar color="primary">
    <ion-title class='ion-text-center'>iPRIMUM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <ion-card>
      <ion-input type="text" placeholder="Usuário" (input)='changeLogin($event.target.value)' [(ngModel)]='login'>
      </ion-input>
      <ion-input type="password" placeholder="Senha" (input)='changePassword($event.target.value)'
        [(ngModel)]='password'></ion-input>
    </ion-card>

    <ion-buttons class="ion-justify-content-center ion-align-item-center" (click)='logar()'>
      <ion-button color='primary'>
        <ion-icon name='log-in'></ion-icon>
        Login
      </ion-button>
    </ion-buttons>
  </div>

</ion-content>

<ion-footer class="ion-justify-content-center">
  <ion-label class="ion-text-center">Desafio iPRIMUM</ion-label>
</ion-footer>