//Ion-items

ion-input{
    --placeholder-color: #444;
    --background: #ccc;
}

ion-button{
    background: #ccc;
    border-radius: .5em;
}

ion-footer{
    display: flex;
    background: #428cff;
}

ion-label{
    color: #ffffff;
}